// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
// $enable-shadows: true;

// Color variables
// $primary: #337ab7;
// $secondary: #42b13e;

// Other color variables

// $success: lighten($primary, 10%);
// $warning: #8a3af1;
// $info: lighten($warning, 12%);
// $danger: darken($warning, 25%);

// body background
// $body-bg: lighten($primary, 30%);

// Changing the border radius of buttons
// $border-radius: 1rem;

// Change Jumbotron to translucent light
// $jumbotron-bg: rgba($light, 0.85);

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

//Custom variables that are not in official bootstrap,
// used in custom styles
$light: #f0f0f0;
$dark: #323030;
$lightened-dark: lighten($dark, 50%);
$nav-link-hover-bg: rgba($lightened-dark, 0.5);
