// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!

// Font configuration
body {
  font-family: $font-family-sans-serif; // add any font name before the variable, comma separated.
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-sans-serif; // add any font name before the variable, comma separated
}

//Nav hover for pills
.nav-link {
  margin: 2px 2px 2px 2px;
}
.nav-pills {
  .nav-link:not(.active):not(.disabled):focus,
  .nav-link:not(.active):not(.disabled):hover {
    background-color: $nav-link-hover-bg;
  }
}
